<div class="my-town-panel" ng-controller="TownDetailController as town">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
  <h1>Detail města {{town.x}}</h1>
  <div class="container">
    <ul class="my-town-navigation">
      <li><a ui-sref=".detail({townId: 1})">Detail</a></li>
      <li><a ui-sref=".center({townId: 1})">Centrum</a></li>
      <li><a ui-sref=".local({townId: 1})">Okolí</a></li>
    </ul>
    <town-resources></town-resources>
    <div ui-view></div>
  </div>

</div>
