<div class="component my-towns">
  <table>
    <thead>
      <tr>
         <th>Město</th>
         <th>Resources</th>
         <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="town in towns">
        <td>{{town.Name}}</td>
        <td>P: {{town.Population}} | G: {{town.Gold}} | F: {{town.Food}} | M: {{town.Morality}}</td>
        <td><a ui-sref="town.detail({townId: town.TownId})">Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
