<div class="component town-resources">
  <span>Budget: {{townResourcesCtrl.resources.Budget}}</span>
  <span>Population: {{townResourcesCtrl.resources.Population}}</span>
  <span>Food: {{townResourcesCtrl.resources.Food}}</span>
  <span>Wood:{{townResourcesCtrl.resources.Wood}}</span>
  <span>Stone:{{townResourcesCtrl.resources.Stone}}</span>
  <span>Morality: {{townResourcesCtrl.resources.Morality}}</span>
</div>
