<div ui-view="navigation"></div>
<div class="container-fluid">
  <div class="row top-bg">
    <div class="col-md-12">{{$state.$current.name}} //// {{$state.$current.url.source}}</div>
  </div>
</div>
<div class="container">
    <div class="row content">
        <div class="col-md-12" ui-view>
        </div>
    </div>
</div>
<div ui-view="footer"></div>
