<nav class="navbar navbar-full navbar-default">
    <div class="container">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a ui-sref="my-towns">Města</a></li>
                <li><a href="#">Stát</a></li>
                <li><a href="#">Diplomacie</a></li>
                <li><a href="#">Mapa</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-envelope"></span></a></li>
                <li><a><span class="glyphicon glyphicon-wrench"></span></a></li>
                <li><a><span class="glyphicon glyphicon-log-in"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
