:root {
  --brand-blue-dark: #92A4A5;
  --brand-blue: #B9CBC6;
  --brand-larissa: #D7D9C8;
  --brand-orange-light: #EAD6C0;
  --brand-orange: #FFCEAC;

}

/*
.color-primary-0 { color: #AA6039 }
.color-primary-1 { color: #FFC8AA }
.color-primary-2 { color: #D48F6A }
.color-primary-3 { color: #803A15 }
.color-primary-4 { color: #551E00 }
*/

html {


}

body {
  background-color: var(--brand-larissa);
  margin-bottom: 60px;
}

.container-fluid {

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: var(--brand-blue);
}


.component {
  background-color: var(--brand-orange-light);
  display: inline-block;
  width: 100%;
}

.component.my-towns table {
  width: 100%;
  border: 1px solid var(--brand-blue-dark);
}

.component.my-towns tr {
  height: 3em;
}

.component.my-towns td,th {
  padding: 1em;
}

.component.my-towns tbody tr:hover {
  background-color: var(--brand-blue);
}


.component.my-towns th {
  background-color: var(--brand-blue-dark);
}

.component.stored-products {

}

.component.town-resources {
  padding: 3px 0 3px 10px;
  background: var(--brand-blue-dark);
}

h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.my-town-panel {
  position: relative;
  top: -135px;
}

.my-town-navigation {
  margin: 0;
  padding: 0;
}

.my-town-navigation li {
  display: inline-block;
  height: 2em;
  width: 7em;
  text-align: center;
}

.my-town-navigation li a {
  display: inline-block;
  padding: 5px;
  background: var(--brand-blue-dark);
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
}

.my-town-navigation li a:hover {
  background: var(--brand-orange);
}

.row.content {
  margin-top: 30px;
}
.row.menu {
  background-color: var(--brand-orange);
  height: 50px;
}

.row.second-nav a {
  background-color: var(--brand-blue-dark);
  height: 50px;
  width: 50px;
  border: 1px solid var(--brand-blue);
  color: var(--brand-orange);
  font-size: 2em;
  text-align: center;
  line-height: 50px;
}

.row.second-nav a:hover {
  text-decoration: none;
  color: red;
}

.top-bg {
  background-color: var(--brand-blue);
  height: 100px;
}
